@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Pacifico&display=swap');

.update-entry-heading {
    font-size: 20px;
    display: inline;
}

.entry {
  display: inline;
}

#new-day {
  margin: auto;
  font-size: 28px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

#message {
  font-size: 30px;
  text-align: center;
}

h1 {
  text-align: center;
}

.logo-1 {
  color: #8c8c8c;
  font-family: 'Baloo 2', cursive;
  font-size: 75px;
  font-weight: 600;
}

.logo-2 {
  color: #55e0ff;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  font-weight: 300;
}

body {
  background-color: white;
}

.hidden {
  display: none;
}

.box:hover {
  background-color: #C1E0FD;
}
